@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,300&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --attention-text-color: #f75948;
    --danger-text-color: #dc143c;
    --warning-text-color: #daa520;
    --success-text-color: #008080;
    --info-text-color: #2a99fa;
    --info-bg-color: #f0f8ff;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 2em;
    margin-left: 4em;
    margin-right: 4em;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 1em;
}

img {
    margin-left: 1em;
}

td { 
    border: 1px solid black; 
    text-align: center; 
    color: var(--info-text-color);
    min-width: 30px;
}

p { 
    margin: 1em;
    padding: .2em;
}

input[type=other] {
    width: 2em;
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #fa8072;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1em;
}

pre {
    background-color: aliceblue;
    border-radius: 3px;
    margin: auto;
    padding: 1em;
}

a {
    color: var(--attention-text-color);
}

button {
    width: 100%;
    background-color: teal;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1em;
}

.selected {
    border: 2px solid lightseagreen;
}

#start_game {
    display: none;
}

#new_game { 
    display: none;
}

#cell_data {
    background-color: var(--info-bg-color);
    border-radius: 3px;
    margin: auto;
    padding: 1em;
}

#json-data {
    background-color: var(--info-bg-color);
    border-radius: 3px;
    margin: auto;
    padding: 1em;
}

.border-right { 
    border-right: 3px solid black; 
}

.border-left { 
    border-left: 3px solid black; 
}

.border-top { 
    border-top: 3px solid black; 
}

.border-bottom { 
    border-bottom: 3px solid black; 
}

.card { 
    margin: auto;
    padding: 1em; 
    border: 1px solid black; 
    border-radius: 3px; 
    width: 23.5em;
}

.center {
    margin: auto;
    width: 23.5em;
}

.invalid {
    background-color: pink;
}

.attention {
    background-color: salmon;
}

.valid {
    background-color: lightgreen;
}

.text-danger {
    color: var(--danger-text-color);
}

.text-info {
    color: var(--info-text-color);
}

.font-large {
    font-family: 'Roboto', sans-serif;
    font-size: 1.02em;
    font-weight: 400;
}

.small-and-muted {
    font-size: .70em;
    color: gray;
}

.highlight {
    color: var(--danger-text-color);
}

.success {
    color: var(--success-text-color);
}

.warning {
    color: var(--warning-text-color);
}

.danger {
    color: var(--danger-text-color);
}

.error-msg {
    background: #fceae9;
    color: #f75948;
    border: none;
    border-radius: 4px;
    padding: 14px 20px;
}


/*  ------------------
    Fade In Animations
*/


.fade-in {
    animation: fadeIn .2s;
    -webkit-animation: fadeIn .2s;
    -moz-animatino: fadeIn .2s;
    -o-animation: fadeIn .2s;
    -ms-animation: fadeIn .2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}



/* 

        color options :
    ----------------------

    alice blue  and     2a99fa
    fde2df      and     salmon




 */
